<html lang="nl">
<head>
    <link rel="stylesheet" href="/styles/styleguide.css">
    <link rel="stylesheet" href="/styles/community-drops.css">
    <title>drop & heal - community drops</title>
</head>


<body>
    <header class="header-drops">   
        <h1 class="lg">Community drops</h1>
        <p>Deel wat je van de oefening vond, lees ervaringen van anderen en steun elkaar in de reis door rouw. <span>Je bent niet alleen.</span></p>
        <a href="/exercise/{{ id }}" aria-label="terug naar opdracht">
            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.561884 4.55426C0.315712 4.79623 0.3123 5.19194 0.554265 5.43812L4.49731 9.44973C4.73927 9.6959 5.13498 9.69931 5.38116 9.45735C5.62733 9.21539 5.63074 8.81967 5.38878 8.5735L1.88385 5.00762L5.44973 1.50269C5.6959 1.26073 5.69931 0.865016 5.45735 0.618844C5.21539 0.372671 4.81967 0.36926 4.5735 0.611224L0.561884 4.55426ZM15.0755 5.74636C15.4207 5.74934 15.7029 5.47194 15.7059 5.12678C15.7089 4.78161 15.4315 4.49939 15.0863 4.49641L15.0755 5.74636ZM0.994612 5.62498L15.0755 5.74636L15.0863 4.49641L1.00539 4.37502L0.994612 5.62498Z" fill="#F5F5F5"/>
            </svg>
        </a>
    </header>
                
    <main class="theme-{{ task.theme }}">
        <h2 class="md">Nieuwste berichten</h2>
                    
        {% for message in messages %}
            <article class="drops">
                <h3>{{ message.from | replace: "Jules_", "" }}</h3>
                <p>{{ message.text }}</p>
                <p>Op {{ message.date_created | date: "%-d %B" }}</p>
            </article> 
        {% else %}
            <p class="empty-state">Er zijn nog geen community drops voor deze opdracht, deel jouw ervaring als eerst!</p>
        {% endfor %}

        <a href="#post-form" class="post-button">Plaats bericht</a>

        {% comment %} <link rel="stylesheet" href="/styles/post-page.css">  {% endcomment %}
        
        <form method="POST" action="/community-drop/{{ id }}" data-enhanced="form" id="post-form">
            <label for="">Naam:
                <input type="text" name="name" required>
            </label>
            <label for="">Wat heeft de opdracht jou gebracht?
                <textarea name="community_drop" id="community_drop" rows="4" required></textarea>
            </label>
            <button type="submit" class="post-btn">Plaats bericht</button>
            <button hidden type="button">sluiten</button>

            <div class="loading-state"></div>
        </form>

        
        
    </main>   
                    

    <div class="succes-message">
        <p>Je drop is geplaatst!</p>
    </div>

<script src="/scripteen.js"></script>
</body>
</html>