{% render 'partials/head.liquid' %}

<main class="exercise-page">
    <h1 class="lg">{{ exercise.title }}</h1>
    <p>{{ exercise.description }}</p>

    <div class="flex-container-ex">
        <div class="left-container-ex">
            <p>{{ exercise.type }}</p>
            <p>{{ exercise.duration }} min</p>
        </div>
        <a class="community-drops-exercise" href="/community-drops/{{exercise.id}}"><img src="../assets/community-drops.png" alt="">{{ messagesLength }} community drops</a>
    </div>
    <div class="progress-ex">
        <div class="progress-done-ex"></div>
    </div>

    <img class="exercise-image" src="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}" alt="">
</main>

{% render 'partials/foot.liquid' %}